# Configurazioni Server
SERVER_NAME=CINAPPI
SERVER_PASSWORD=C1n4pp1!
SERVER_PORT=27020
VAC_ENABLED=False
BATTLE_EYE_ENABLED=False
SERVER_REGION=1

# Installed Mods
#880454836 Pippi Server manager
#1823412793 mod control panel
SERVER_MODS=880454836,1823412793

# Configurazioni Steam
STEAM_PORT=7777
STEAM_PORT_SECONDARY=7777
RCON_ENABLED=1
RCON_PORT=25575
RCON_KARMA=60


# Configurazioni Game
GAME_MODE=pve